
{{>header}}
    <div class="container">
        <div class="row mt-5">
            <h1 class="text-light">{{head}}</h1>
            {{#each data}}
            <div  class="card col-md-4 border-0 mt-2 ms-3 p-0 " style="width: 18rem;">
                <div class="border rounded-2 bg-dark text-light">
                    <img src="{{this.urlToImage}}" class="card-img-top" alt="..." height="200px" >
                    <div class="card-body">
                        <h5 class="card-title">{{this.author}}</h5>
                        <p class="card-text">{{this.content}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    
{{>footer}}